# machine-specific config files
.htaccess
.htpasswd

# nano, emacs backups
*~

# media
media/*.*

# macos
.DS_Store

# bash
backup
sync
log
backup-subscriptions

# php composer
static/php/vendor

.env

# API cache (tokens)
.cache/
