/* elements */

/*
form[name="Donate"] {
	margin-top: 21px;
	width: 200px;
	height: 35px;
	position: relative;
	overflow: hidden;
}

form[name="Donate"]:after {
	content: "DONATE";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
*/



/* ids */

#cart-symbol {
        position: fixed;
        left: 20px;
        bottom: -35px;
        z-index: 1000;
        cursor: pointer;
}

#cart-symbol:hover,
.viewing-cart #cart-symbol {
        background-color: #0C0;
        color: #fff;
}

#currencySwitchWrapper {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 90;
}

#cart-container {
    width: 100vw;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(0, 100%);
    z-index: 1000;
    padding: 20px;
    padding-right: 60px;
    padding-bottom: 75px;
    background-color: #fff;
    min-height: 25vh;
    max-height: 50vh;
    overflow: scroll;
    box-sizing: border-box;
}

.viewing-paypal #paypal-button-container-cart {
    display: block;
    pointer-events: initial;
    height: initial;
    margin-top: 11px;
}

#btn-close-cart {
    position: absolute;
    right: 10px;
    top: 15px;
    cursor: pointer;
    padding: 5px 10px;
    width: 30px;
}

#buy-section-container-cart {
    /*position: absolute;*/
    left: 20px;
    z-index: 1001;
    display: none;
}
.viewing-cart #buy-section-container-cart
{
	display: block;
}
#donate-btn {
	pointer-events: none;
}

#donate-buy-section form {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

#donate-buy-section form input[type="image"] {
	width: 100%;
	height: 100%;
}



/* classes */

.thumbsContainer.shop {
	width: 250px;
	position: relative;
	padding: 20px;
}

.buy-section-container
{
	position: fixed;
	/*width: 200px;*/
	left: 20px;
	bottom: 20px;
}

/*.buy-section {
	position: fixed;
	width: 200px;
	left: 20px;
	bottom: 20px;
}*/

.viewing-cart-symbol .buy-section-container {
	bottom: 60px;
}
.viewing-cart.viewing-cart-symbol .buy-section-container {
	bottom: 20px;
}
.viewing-cart-symbol .thumbsContainer .buy-section-container,
.viewing-cart.viewing-cart-symbol .thumbsContainer .buy-section-container
{
	bottom: 30px;
}
.thumbsContainer .buy-section-container {
	position: absolute;
    margin: initial;
	left: 30px;
	bottom: 30px;
}
.buy-section
{
	width: 200px;
	display: inline-block;
}
.buy-section + .buy-section {
	margin-left: 10px;
}
.thumbsContainer .buy-section + .buy-section {
	margin-top: 5px;
	margin-left: 0;
}
.buy-button-container {
	display: inline-block;
	width: 100%;
}

.issue-img {
	display: block;
}

.viewing-paypal .button-area {
    background-color: #FFF;
}

.viewing-usd .button-area-eur,
.viewing-usd .button-area-gbp,
.viewing-eur .button-area-usd,
.viewing-eur .button-area-gbp,
.viewing-gbp .button-area-usd,
.viewing-gbp .button-area-eur {
	display: none;
}

.paypal-button-container,
body.loading .viewing-paypal .paypal-button-container {
    display: none;
    height: 35px;
}

.cart-button-container {
	display: block;
	width: 200px;
	height: 35px;
}

.cart-button-container .button {
	background-color: #0C0;
    color: #FFF;
}

.cart-button-container .button:hover {
	background-color: #0F0;
}

.paypal-button-container: hover {
    /* opacity: 1.0; */
}

.paypal-button-container > div {
	display: block;
}

/*
.viewing-paypal .download-code-container,
.viewing-paypal .paypal-button-container {
    display: block;
    pointer-events: initial;
    height: initial;
    margin-top: 11px;
}
*/

.viewing-paypal .buy-button-container .button {
    background-color: #0E0;
    border-color: #0E0;
    position: relative;
    color: #FFF;
}

body.loading .viewing-paypal:before {
	content: "Loading . . .";
	/*position: absolute;*/
	display: block;
	width: 100%;
	height: 35px;
	/*top: -21px;*/
	/*left: 10px;*/
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #ccc;
	color: #000;
	z-index: 100;
	text-align: center;
    font-size: 18px;
    padding-top: 6px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.shopItemLink {
	display: block;
}

.currency {
    color: #000;
}

.currencyOption {
	display: inline-block;
    	width: 40px;
	padding: 2px 5px;
	margin-left: 4px;
	cursor: pointer;
	/* border-radius: 4px; */
    	text-align: center;
}

a.currencyOption.active,
a.currencyOption:hover,
.currencyOption.active,
.currencyOption:hover {
	background-color: #0C0;
	color: #fff;
}

.pseudo-button {
	width: 100%;
    height: 35px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    vertical-align: top;
    padding-top: 7px;
    font-family: 'Arial', sans-serif;
}

.pseudo-button.sold-out {
    color: #FFF;
    background-color: none;
    border: 1px solid #FFF;    
}

.payment-option	{
	margin-bottom: 5px;
}

.paypal-cart-button {
}

.paypal-cart-button:hover {
}

.paypal-cart-button-container {
	display: none;
}

.viewing-paypal .paypal-cart-button-container {
	display: block;
}

.viewing-cart-symbol #cart-symbol {
    bottom: 20px;
    transition: bottom 0.25s;
}

.viewing-cart #cart-container {
        /* transition: transform .5s; */
        transform: translate(0, 0%);
}

.item-row,
.item-row-default {
        display: flex;
}

.item-row {
        margin-top: 10px;
}

.item-column {
        display: inline-block;
        flex-basis: 50px;
        padding: 0 15px;
        text-align: right;
}

.item-name.item-column {
        flex: 1;
        text-align: left;
}

.item-remove {
        flex-basis: 80px;
        cursor: pointer;
}

.item-row-default .item-remove {
        cursor: default;
}

.item-quantity-container {
        position: relative;
}

.item-quantity {
        text-align: center;
}

.item-quantity-minus,
.item-quantity-plus {
        position: absolute;
        top: 0;
        padding: 0 5px;
        cursor: pointer;
}

.item-quantity-minus {
        left: 10px;
}

.item-quantity-plus {
        right: 10px;
}

/* mobile */

@media screen and (max-width: 568px) {
    .thumbsContainer.shop {
	    width: 100%;
    }

    #btn-close-cart {
        width: 60px;
    }
}
